{% extends 'base_with_nav.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
<h3> Проект Graphbooks - это сайт для создания и просмотра инфографики произведений литературы различных жанров.</h3>
    <p> Проект реализован в рамках лабораторной работы по дисциплине "Управление программными проектами"</p>
    <p>Ресурс позволяет авторизованным пользователям строить инфографику по прочитанным книгам,
    оставлять заметки и ссылки на полезные ресурсы, выставить собственную  оценку в виде рейтинга.</p>
    <p>Чтобы начать работу, необходимо зарегистрироваться или авторизоваться на сайте.<br>В личном кабинете Вам будет доступна область для создания инфорграфики в виде графа, демонструрующего связи между произведениями.</p>
    <a href="{% url 'common_graph' %}">Интерактивная карта</a> - это общая карта для гостей, здесь Вы можете увидеть инфографику, составленную  из актуальных произведений.</p>
<p>Данный сайт будет полезен людям, желающим видеть свой прогресс в чтении, а также любителям  все визуализировать.</p>
<p>Репозиторий проекта расположен <a href="https://github.com/anidartie/GraphBooks">здесь.</a></p>
    <p> На данном этапе, проект представляет собой протитип желаемой системы.</p>
{% endblock %}
